<footer>
  
  <div class="footer-columns">
    
    <div class="footer-columns-social">

      {% include logo.html %}

      <p>In eu libero ligula. Fusce eget metus lorem, ac viverra leo. Nullam convallis</p>

      <a href="#"><i class="fab fa-facebook-square"></i></a>
      <a href="#"><i class="fab fa-twitter-square"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>

    </div>

    <div class="footer-columns-news">
      
      <h4>НОВИНИ</h4>

      <div class="footer-columns-news-block">

        <div class="footer-columns-news-block-item">

          <div class="footer-columns-news-block-item-image">    
	          
	          <img src="https://images.unsplash.com/photo-1486825586573-7131f7991bdd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80">

          </div>

          <span class="footer-columns-news-block-item-date">
            
            <a href="#">Записването на час за изследвания онлайн</a>
            <span>MAY 10, 2019</span>

          </span>

        </div>

        <div class="footer-columns-news-block-item">
        
          <div class="footer-columns-news-block-item-image">
        
            <img src="https://images.unsplash.com/photo-1486825586573-7131f7991bdd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=668&q=80">

          </div>

          <span class="footer-columns-news-block-item-date">
            
            <a href="#">Записването на час за изследвания онлайн</a>
            <span>MAY 10, 2019</span>

          </span>

        </div>
        
      </div>

    </div>

    <div class="footer-columns-quicklinks">
      
      <h4>БЪРЗИ ВРЪЗКИ</h4>

      <div class="footer-columns-quicklinks-block">

        <div class="footer-columns-quicklinks-block-1">
        
          <ul>
            <li>
              <a href="#">Начало</a>
            </li>
            <li>
              <a href="#">Регистрация</a>
            </li>
            <li>
              <a href="#">За нас</a>
            </li>
            <li>
              <a href="#">Контакт</a>
            </li>
          </ul>

        </div>

        <div class="footer-columns-quicklinks-block-2">
        
          <ul>
            <li>
              <a href="#">Д-р Иванов</a>
            </li>
            <li>
              <a href="#">Д-р Петров</a>
            </li>
            <li>
              <a href="#">Д-р Димитров</a>
            </li>
            <li>
              <a href="#">Д-р Александров</a>
            </li>
          </ul>

        </div>
        
      </div>

    </div>

  </div>

  <div class="copy">
    &copy МЦ "Медик" - всички права запазени
  </div>

</footer>