<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/site.css" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  </head>
  <body>
    <input type="checkbox" name="toggle-main-menu" id="toggle-main-menu" />
    <header class="header-main">
      {% include logo.html %}
      {% include navigation.html %}
      {% include call-button.html %}
    </header>
    <div class="main-content">

      {{ content }}

    </div>

    {% include footer.html %}
    
  </body>
</html>